# don't delete this line.
% start TOP

TOP -> S

### TODO: Add your rules here

S ->  S FS | NP VPS  | NPS VP | NP VPS  END | DT S | CC S | PRP S | PRPX S

# singular noun phrases
NP -> EX | PN | PN COMMA PN | CD NN | PRP | PRPX NP | END NP | NP PP |NP PP PN

# plural noun phrases
NPS -> DT | NNS | NNPS | LM | NN NNS | PRP | NAND | DT NPS | PRPX NPS | END NPS | NPS PP | NP POS NPS | CD IN CD NPS

# plural verb phrases
VP -> VB | VBD | VBP NPS | VBD TO | VP VBNS | VP PP | VP END |  VBD TO VP

# singular verb phrases
VPS  -> VBDZ | VBD RB VB | VBDZ TO | VPS  NP | VBZ VBG | VPS VBNS | VPS  END | VPS  PP | VPS  NPS | VPS  S | MD VP | VPS  CC VPS

#plural verb phrase
VBDZ -> VBD | VBZ

#end phrase
END -> RB JJ | JJ | JJ CC END | RB

#Proper nouns
PN -> NN | NNP| PN NN | PN NNP

#learning Materials
LM -> NNP NNPS

#VBNS
VBNS -> VBNS VBN| VBN

# prep phrase
PP -> IN NP | IN NPS | IN NP RB

#Noun and
NAND -> NP CC NP | NPS CC NPS


# lexicon
COMMA ->  ","
FS ->  "."
CC ->  "And" |  "But" |  "and" | "but"
CD ->  "1929" |  "66.5" |  "69"
DT ->  "All" |  "No" |  "The" |  "a" |  "no" |  "the"
EX ->  "There"
IN ->  "after" |  "by" |  "for" |  "from" |  "in" |  "into" |  "of" |  "on" |  "that" | "despite"
JJ ->  "crude" |  "different" |  "funny" |  "high-priced" |  "imaginative" |  "immediate" |  "many" |  "moderate" |  "nervous" |  "new" |  "worst-case" | "political" | "overwhelming"
MD ->  "can"
NN ->  "Champagne" |  "Factory" |  "PC" |  "Stock" |  "asbestos" |  "bearing" |  "breakdown" |  "business" |  "crash" |  "dessert" |  "face" |  "field" |  "force" |  "lion" |  "nose" |  "oblivion" |  "pioneer" |  "predecessor" |  "pressure" |  "price" |  "production" |  "rest" |  "scenario" |  "share" |  "today" |  "work" |   "trading" | "president"
NNP ->  "Baltimore" |  "Barnum" |  "Courter" |  "Cray" |  "Dugdale" |  "Esso" |  "France" |  "Hong" |  "Kong" |  "Korea" |  "Learning" |  "Mr." |  "Research" |  "September" |  "South" |  "Tuesday" |  "VanSant" |  "Viacom" |  "Whiting"
NNPS ->  "Materials"
NNS ->  "Pressures" |  "Terms" |  "banks" |  "bottles" |  "computers" |  "concerns" |  "contributors" |  "investors" |  "payrolls" |  "prices" |  "products" |  "shares" |  "ships" |  "standards" |  "subskills" |  "tactics"
POS ->  "'s"
PRP ->  "It" |  "They" |  "it"
PRPX ->  "Her" |  "our"
RB ->  "fractionally" |  "n't" |  "now" |  "often"
TO ->  "to"
VB ->  "boast" |  "build" | "agree"
VBD ->  "began" |  "called" |  "came" |  "fell" |  "followed" |  "had" |  "matched" |  "rose" |  "said" |  "started" |  "suffered" |  "went" |  "were" | "understood" | "did"
VBG ->   "using"
VBN ->  "been" |  "disclosed" |  "handled" |  "set"
VBP ->  "operate"
VBZ ->  "'s" |  "denies" |  "grows" |  "has" |  "is"
